#map {
    height: 74.5%;
}
html, body {
    height: 74.5%;
    margin: 0;
    padding: 0;
}

.btn-mapa{
    height: 40px;
    width: 150px;
    font-size: 15px;
    left: 210px !important;
    top: -10px !important;
    position: absolute;
}